/* style.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 1rem;
  background: #f7f9fc;
  color: #333;
  font-size: 1rem;
  line-height: 1.5;
  text-align: justify;
  word-break: break-word;
}

@media (max-width: 600px) {
  body {
    text-align: justify;
    text-justify: inter-word;
    word-break: break-word;
  }
  
  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1,2rem;
  }

  .slider-track img {
  width: 100vx;
  }
}

.highlight-red {
  color: red;
}

.highlight-orange {
  color:coral;
}

.highlight-darkred {
  color:darkred;
}

.underline {
  text-decoration: underline;
}

nav {
  background-color: #3a79b7;
  padding: 1rem;
}

nav a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

header, main, footer {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
}

h1 {
  color: #0a66c2;
}

h2 {
  color:midnightblue;
}

p {
  color: #666;
}

ul {
  color: #666;
}

footer {
  text-align: center;
  font-size: 1rem;
  margin-top: 1rem;
  color: #666;
}

.image-slider {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  padding: 1rem 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0rem;
  margin-left: 8rem;
  margin-right: 8rem;
}

.slider-track {
  display: inline-flex;
  gap: 1rem;
}

.slider-track img {
  width: 300px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  transition: transform 0.3s ease;
}

.slider-track img:hover {
  transform: scale(1.05);
}

.chair-row {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.chair {
  text-align: center;
  width: 95%;
  flex: 1 0 40%;
}

.chair img {
  width: 100%;
  max-width: 10rem;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  margin-bottom: 0.5rem;
}

.chair p {
  font-size: 18px;
  line-height: 1.4;
}

.chair-title {
  text-align: center;
}


